.App {
  width: 100%;
  height: 100vh;
  background-color: #ececec;
}

.chat-spacer {
  padding: 2%;
}

.chat-container {
  width: 75%;
  height: 80%;
  margin: auto;
  background-color: rgb(245, 245, 245, 0.9);
  border: 1px solid #999;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.chat-header h1 {
  font-size: 18px;
  margin: 0;
}

.chat-box {
  height: 75%;
  overflow-y: auto;
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.chat-message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat-message.bot {
  justify-content: flex-start;
}

.chat-message.user {
  justify-content: flex-end;
}

.chat-message p {
  margin: 0;
  padding: 8px;
  border-radius: 4px;
  background-color: #e1f5fe;
}

.chat-message.bot p {
  background-color: #e1f5fe;
}

.chat-message.user p {
  background-color: #c8e6c9;
}

.audio-player {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.audio-player img {
  width: 20px;
  height: 20px;
}

.chat-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
}

.send-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 8px;
}

.record-button {
  background-color: #1f0586;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
.stop-recording {
  background-color: #8e0404;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.language-select {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}

.audio-player {
  width: 100%;
  display: none;
}


.bleu-container, .bias-container {
  width: 75%;
  margin: auto;
  background-color: rgb(245, 245, 245, 0.9);
  border: 1px solid #999;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bleu-container h1, .bias-container h1 {
  font-size: 18px;
  margin: 0;
}

.bleu-body, .bias-body {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}
.bleu-body hr, .bias-body hr {
  border-color: #eee;
}


.input {
  width: 650px;
  padding: 8px;
  margin-top: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
}

table {
  width: 100%;
}
table td {
  font-size: 12px;
  padding: 5px;
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
}
table tbody tr:nth-child(odd) {
  background-color: #eee;
}